$site-color : (
  "primary":#272727,
  "secondary": #ff652f,
  "text" : white,

);

$site-weight : (
   "h1-h3" : 400,
   "regular": 700,
);

@function ApplyColor($color-Key)
{
    @return map-get($site-color, $color-Key);
}

@function ApplyWeight($weight){
    @return map-get($site-weight, $weight);
}

@mixin transition-ease{
    transition: all 0.5s ease-in-out;
}
@function set-text-color($color)
{
  @if (lightness($color) > 40%)
  {
     @return #000;
  }
  @else
  {
     @return #fff;
  }
}

@mixin media-md{
  @media screen and (min-width: 768px){
      @content;
  }

}

@mixin media-lg{
  @media screen and (min-width: 1024px){
      @content;
  }
}

@mixin media-xl{
  @media screen and (min-width: 1600px){
      @content;
  }
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}